<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="MCPPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\MCPIntegration\Payment\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">MCPIntegration\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MCPPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">MCPPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>
</config>
